:root {
  --second-color: rgba(241, 97, 97, 0.7);
  --subtitle-color: rgb(76, 76, 76);
}

.Weather {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
  background-image: linear-gradient(
    rgba(125, 173, 213, 0.5),
    rgba(125, 173, 213, 0.5)
  );
  padding: 30px;
  border-radius: 10px;
  border: 2px solid var(--second-color);
}

.Weather h1 {
  padding: 10px;
  font-size: 80px;
}

.Weather ul {
  padding-left: 10px;
  color: rgb(76, 76, 76);
  margin: 0;
}

.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather .buttonSearch {
  background-color: var(--second-color);
  border: 1px solid rgb(79, 47, 47);
}

.Weather .iconToday {
  position: relative;
  top: 20px;
  width: 60px;
}

.Weather .temperatureToday {
  font-size: 65px;
}

.Weather .unitToday {
  color: var(--subtitle-color);
  font-size: 16px;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .temperatureBox {
  display: flex;
  justify-content: flex-start;
}
